.header {
  background: #212122;
  height: 60px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    list-style-type: none;
    display: flex;
    gap: 20px;

    &-button {
      width: 30px;
      height: 30px;
      border: none;
      background: transparent;

      @buttons: search, menu, profile;

      each(@buttons, {
        &_@{value} {
          background-image: url('./img/@{value}.svg');
        }
      })
    }
  };
}

.menu-desktop {
  display: none;

  @media @gt-m {
    display: block;
    margin: 0 auto 0 20px;
  }
}

.menu-desktop-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0px;
  }
}

@media @gt-m {
  .menu-mobile {
      display: none;
  }
}

.menu-desktop-buttons {
  display: none;

  @media @gt-m {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.button-search {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  background-image: url('./img/search.svg')
}

.button-sigin {
  height: 36px;
  padding: 9px 15px;
  background: transparent;
  border-radius: 61px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  color: #ffffff;
}
